
<div>
    <md-grid-list
            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px" >
        <md-grid-tile class="yellow" md-rowspan="2" md-rowspan-sm="1" md-colspan="2" md-colspan-sm="1">
            <div layout="column" layout-align="center center">
                <md-icon flex md-svg-src="app/assets/images/Visual_Studio_2012_logo_and_wordmark.svg" class="vs"></md-icon>
                <p flex class="md-headline center">Proficient in multiple programming and scripting languages including C#, Python & Java</p>
                <!--<md-grid-tile-footer></md-grid-tile-footer>-->
            </div>
        </md-grid-tile>

        <md-grid-tile class="blue"
                      md-rowspan="1" md-colspan="1">
            <div layout="column" layout-align="center center">
                <md-icon flex md-svg-src="app/assets/images/angular-logo.svg" class="angular"></md-icon>
                <p flex class="md-title">Technology Artist</p>
            </div>
        </md-grid-tile>

        <md-grid-tile class="red"
                      md-rowspan="2" md-rowspan-sm="1" md-colspan="1" md-colspan-sm="1">
            <div layout="column" layout-align="center center">
                <md-icon flex md-svg-src="app/assets/images/webstorm.svg" class="webstorm"></md-icon>
                <p flex class="md-title">Web Magician</p>
            </div>
        </md-grid-tile>
        <!--<md-grid-tile class="yellow">-->
            <!--&lt;!&ndash;<md-icon flex md-svg-src="app/assets/images/python-powered-h.svg" class="python"></md-icon>&ndash;&gt;-->
            <!--&lt;!&ndash;<p flex class="md-headline"></p>&ndash;&gt;-->
        <!--</md-grid-tile>-->
        <!--<md-grid-tile class="green">-->

        <!--</md-grid-tile>-->

        <md-grid-tile class="green"
                      md-rowspan="1" md-colspan="1">
            <div layout="column" layout-align="center center">

                <md-icon flex md-svg-src="app/assets/images/logo_pycharm.svg" class="python"></md-icon>
                <p flex class="md-title">Python Charmer</p>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>