<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>-->
<div class="row">
    <div id="pizza_rami" class="restaurant col-md-4" ng-click="showMenu($event)"><img src="app/assets/images/pizza_rami.png" /></div>
    <div id="falafel_local" class="restaurant col-md-4" ng-click="showMenu($event)"><img src="app/assets/images/falafel_local.png" /></div>
    <div id="hummus_telaviv" class="restaurant col-md-4" ng-click="showMenu($event)"><img src="app/assets/images/hummus_telaviv.png" /></div>
    <div id="falafel_yossi" class="restaurant col-md-4" ng-click="showMenu($event)"><img src="app/assets/images/falafel_yossi.png" /></div>
    <div id="pizza_rami" class="restaurant col-md-4" ng-click="showMenu($event)"><img src="app/assets/images/pizza_rami.png" /></div>
    <div id="pizza_rami" class="restaurant col-md-4" ng-click="showMenu($event)"><img src="app/assets/images/pizza_rami.png" /></div>
</div>
