<!DOCTYPE html>
<html lang="he" ng-app="myApp"  ng-controller="homeCtrl" class="ng-cloak" dir="rtl" encoding="UTF-8">
  <head>
    <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title"> GetEat </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- for touch devices-->
    <link rel="icon" href="favicon.ico">
    <!--<link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link rel="stylesheet" href="app/assets/libs/angular-loading-bar-master/src/loading-bar.css">
    <link rel="stylesheet" href="app/assets/css/app.css">
    <link rel="stylesheet" href="app/assets/css/main.css">
    <link rel="stylesheet" href="app/assets/css/animate.css">
    <link rel="stylesheet" href="app/assets/css/all_restaurants.css">
    <link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.0.7/ui-grid.css"/>
    <link rel="styleSheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
<!--      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">-->

  </head>
  <body ng-controller="MainCtrl">
        <header>
            <div id="navigation-bar">
                <img id="nav-logo" src="app/assets/images/get_eat_logo.png"/>
                <div ng-class="{'nav-button-active': active_classes.all_dishes}" class="nav-button" ng-click="showAllDishes()">הכל</div>
                <div ng-class="{'nav-button-active': active_classes.pizza}" class="nav-button" ng-click="showPizzaDishes()">פיצה</div>
                <div ng-class="{'nav-button-active': active_classes.hummus}" class="nav-button" ng-click="showHummusDishes()">חומוס</div>
                <div ng-class="{'nav-button-active': active_classes.falafel}" class="nav-button" ng-click="showFalafelDishes()">פלאפל</div>
                <div ng-class="{'nav-button-active': active_classes.shawarma}" class="nav-button" ng-click="showShawarmaDishes()">שווארמה</div>
                <p id="welcome-guest">שלום עמית</p>
            </div>
        </header>        
          
        <section id="order">
            <img ng-src=""/>
            <div id="total-cost">
                <img src="app/assets/images/cart_image.png"/>
                <p>{{total_price}}</p>
                <p>&#8362</p>
            </div>
            <p id="order-title">סל הקניות</p>
            <hr/>
            <div id="items-in-cart">
                <p ng-if="items_in_cart.length == 0" id="no-items">{{no_items_message}}</p>
                <div ng-repeat="item in items_in_cart">
                    <div id="item-title-skeleton">
                        <p id="item-in-cart-title">{{item.title}}</p>
                        <div id="item-ordered-extras" ng-if="item.extras.length > 0">
                            <p>(</p>
                            <p ng-repeat="extra in item.extras">{{extra}}</p>
                            <p>)</p>
                        </div>
                        <p id="item-delete" ng-click="removeItemFromCart(item)">X</p>
                    </div>
                    <p class="item-in-cart-price">{{item.price}} ש״ח</p>
                </div>
            </div>
            <div ng-click="submit_order(3)" id="order-button">
                <p>הזמן</p>
            </div>
        </section>   
    
      <!--        ng-view-->
      <section id="dishes">
            <ng-view></ng-view>
      </section>

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


        <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- Angular Material Dependencies -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>-->

    <!--&lt;!&ndash; Angular Material Javascript using GitCDN to load directly from `bower-material/master` &ndash;&gt;-->
    <!--<script src="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>-->
    <script defer src="app/assets/libs/angular-route/angular-route.min.js"></script>
    <script defer src="app/assets/libs/angular-loading-bar-master/build/loading-bar.min.js"></script>

    <script defer src="app/app.js"></script>
    <script defer src="app/app.routes.js"></script>
    <script defer src="app/components/customers/controllers/mainController.js"></script>
    <script defer src="app/components/customers/controllers/all_restaurants_controller.js"></script>
    <script defer src="app/components/customers/controllers/pizza_restaurants_controller.js"></script>
    <script defer src="app/components/customers/controllers/falafel_restaurants_controller.js"></script>
    <script defer src="app/components/customers/controllers/hummus_restaurants_controller.js"></script>
    <script defer src="app/components/customers/controllers/shawarma_restaurants_controller.js"></script>
    <script defer src="app/shared/Home/homeController.js"></script>
    <script defer src="app/components/customers/customersService.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.0.7/ui-grid.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>


  </body>
</html>
