<article layout="row" layout-align="start start">
    <div class='md-padding' layout="row" layout-wrap>
        <md-card flex-sm="100" flex="25" ng-repeat="i in range(3)">
            <img class="restaurant-logo" ng-src="app/assets/images/masabaha.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <h2 class="md-title">אבו חסן</h2>

                <p>כבר יותר מ40 שנה... המסבחה העסיסית ביותר</p>
                <p style="font-style: italic">מתחת לעץ 6, תל אביב-יפו</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start start">
                <!--<md-button>מסבחה</md-button>-->
                <md-button flex="5" class="md-accent" ng-repeat="i in range(3)">מסבחה</md-button>
                <!--<md-button>חומוס</md-button>-->
                <!--<md-button>פיתה</md-button>-->

            </md-card-actions>
        </md-card>

    </div>

</article>